<% if author_signed_in? %>
  <h1>こんにちは<%= current_author.name %>さん</h1>
  <h2>本を閲覧するrails App</h2>
  <ul>
    <%# <li>
      <%=link_to("著者の登録","/authors/new")%>
    <%# </li> %>
    <li>
      <%=link_to("本の登録","/books/new")%>
    </li>
    <li>
    <%=link_to("著者の閲覧","/authors/")%>
    </li>
  </ul>
<% else %>
  <h1>ログインして下さい</h1>
<% end %>