<section class="hero is-success is-fullheight">
　<div class="hero-body">
　 <div class="container has-text-centered">
    <h1 class="title has-text-gray"> New Book </h1>
        <div class="box">
            <%= render 'form', book: @book %>
            <%= link_to 'Back', '/', class: "button is-white"%>
        </div>
   </div>
  </div>
</section>
