<section class="hero is-success is-fullheight">
　<div class="hero-body">
　 <div class="container has-text-centered">
    <h1　class="title has-text-gray">New Book</h1>
    <div class="box">
        <form>
        <%= render 'form', book: @book %>
        </form>
        <%= link_to 'Back', '/' %>
    </div>
   </div>
  </div>
</section>
