<section class="hero is-success is-fullheight">
　<div class="hero-body">
　 <div class="container has-text-centered">
      <h1 class="title has-text-gray">「<%= @book.title %>」へのレビュー</h1>
      <div class="box">
          <%= render 'form', review: @review %>
        <%= link_to 'Back', "/books/#{@book.id}", class: "button is-white" %>
      </div>
    </div>
  </div>
</section>